ALTER TABLE opdrachtgevers ADD COLUMN bedrijfsnaam VARCHAR(100) NULL, ADD COLUMN kvk_nummer VARCHAR(20) NULL, ADD COLUMN adres VARCHAR(200) NULL, ADD COLUMN postcode VARCHAR(10) NULL, ADD COLUMN stad VARCHAR(100) NULL, ADD COLUMN telefoon VARCHAR(20) NULL;

ALTER TABLE facturen ADD COLUMN locatie VARCHAR(100) NULL;
